<div class="social-icons d-flex justify-content-center mt-3">

      <a href="/assets/resume.pdf" class="social-btn" target="_blank" title="Resume">
        <i class="fas fa-file-alt"></i>
      </a>
    
      <a href="mailto:victoriaproko333@gmail.com" class="social-btn" title="Email">
        <i class="fas fa-envelope"></i>
      </a>
    
      <a href="https://www.linkedin.com/in/victoria-proko/" class="social-btn" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    
      <a href="https://github.com/victoriaproko" class="social-btn" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
    
</div>
